.header-bg {
  background: black;
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  font-size: 1.25em;
}

.menu a {
  display: inline-block;
  padding: 16px 0px;
  position: relative;
  color: white;
}

@media (max-width: 720px) {
  .header {
    gap: 5px;
    justify-content: center;
    align-items: start;
  }

  .menu ul {
    gap: 30px;
  }

  .menu a {
    padding: 10px 0px;
  }
}
