.introducao-bg {
  background: #FFFBF2;
}

.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
}

.intro-conteudo {
  font-family: Poppins, sans-serif;
  align-self: end;
  padding-bottom: 200px;
}

.intro-conteudo p {
  max-width: 28ch;
  font-size: 1.5em;
}

.intro .intro-title {
  font-family: Cookie, cursive;
  margin-bottom: 32px;
  color: #DDBC72;
  font-size: 7.25em;
  font-weight: 400;
}

.intro p {
  margin-bottom: 70px;
}

.intro button {
  font-family: Poppins;
  font-size: 1.25em;
  font-weight: 500;
  display: inline-block;
  padding: 12px 40px;
  background: #D4BE88;
  border-radius: 4px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .35);
  text-transform: uppercase;
  color: black;
  max-width: max-content;
  border: none;
  cursor: pointer;
}

.intro img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  margin-top: 35px;

}