.procedimentos-bg {
  background: url("../img/image\ 5.png") no-repeat;
}

.procedimentos {
  padding-top: 120px;
  padding-bottom: 160px;
}

.procedimentos h1 {
  margin-bottom: 40px;
}

.procedimentos ul {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  padding: 0 20px 20px 20px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
}

.procedimentos h3 {
  margin-top: 30px;
  font-family: Poppins;
  font-size: 1.25em;
  display: flex;
  align-items: center;
}

.procedimentos span {
  font-family: Poppins;
  color: #706565;
}

.procedimentos h3::before {
  content: "";
  display: inline-block;
  height: 8px;
  width: 12px;
  margin-right: 8px;
  background-color: #b2595f;
  transition: width 0.2s;
}

.procedimentos button img {
  padding-right: 15px;
  width: 36px;
}

.procedimentos button {
  margin-top: 80px;
  background: #01b93b;
  display: flex;
  align-items: center;
  padding: 12px 40px;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 1.5em;
  color: #fffbf2;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.procedimentos button:hover {
  background-color: #128c7e;
}

@media (max-width: 720px) {
  .procedimentos-bg {
    padding-bottom: 0px;
    background: url("../img/image\ 5.png") repeat;
  }
  .procedimentos {
    padding-top: 20px;
  }
  .procedimentos ul {
    display: block;
  }
  .procedimentos li {
    margin-top: 20px;
  }
  .procedimentos h3 {
    margin-top: 12px;
    margin-bottom: 10px;
  }

  .procedimentos button {
    margin-right: 60px;
    margin-top: 70px;
  }
}
